@model IEnumerable<BLL.App.DTO.UserMessages>

@{
    ViewData["Title"] = "Index";
}

<h1>@Resources.BLL.App.DTO.UserMessage.UserMessages</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SenderEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSent)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSent)
            </td>

            <td style="float: right">
                <a asp-action="Edit"  asp-route-id="@item.Id">@Resources.Views.Crud.CRUD.Reply</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Crud.CRUD.View</a> |
                <form style="float: right" asp-action="DeleteConfirmed" asp-route-id="@item.Id"
                      onclick="return confirm('@Resources.Views.Crud.CRUD.DeleteConfirm')">

                    <button id="deleteButton" type="submit">
                        <a  class="fa fa-trash" ></a>
                    </button>
                </form>
                </td>
        </tr>
}
    </tbody>
</table>
