@model IEnumerable<DTO.App.UserMessagesDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Messages</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MessageForm!.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageForm!.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageForm!.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageForm!.DateSent)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MessageForm!.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageForm!.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageForm!.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageForm!.DateSent)
            </td>

            <td>
                <a asp-action="Edit"  asp-route-id="@item.Id">Reply</a> |
                <a asp-action="Details" asp-route-id="@item.Id">View</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
