
@using Domain.App.Identity
@model WebApp.Areas.Admin.ViewModels.AppUserAddRoleViewModel

@{
    ViewData["Title"] = "AddRole";
}

<form method="post">

    <h2 class="bg-info p-1 text-white">@Resources.Views.AppRole.AppRoles.AddTo @Model.Role.Name</h2>
<table class="table table-bordered table-sm">

@foreach (AppUser user in Model.NonMembers!)
{
    <tr>
        <td>@user.UserName</td>
        <td>
            <input type="checkbox" name="AddIds" value="@user.Id">
        </td>
    </tr>
}

</table>

<h2 class="bg-info p-1 text-white">@Resources.Views.AppRole.AppRoles.RemoveFrom @Model.Role.Name</h2>
<table class="table table-bordered table-sm">

@foreach (AppUser user in Model.Members!)
{
    <tr>
        <td>@user.UserName</td>
        <td>
            <input type="checkbox" name="DeleteIds" value="@user.Id">
            <input type="hidden" name="Members" value="@Model.Members">
        </td>
    </tr>
}

</table>
<button type="submit" class="btn btn-primary">@Resources.Views.Shared.Buttons.Save</button>
</form>