@model IEnumerable<Domain.App.Identity.AppRole>

@{
    ViewData["Title"] = @Resources.Views.Crud.CRUD.Index;
}

<p>
    <a asp-action="Create">@Resources.Views.Crud.CRUD.Create</a>
</p>
<table class="table">
    <thead>
    <tr>

        <th>
        @Resources.Views.AppRole.AppRoles.Name
        </th>
        <th>
           @Resources.Views.AppRole.AppRoles.NormalizedName
        </th>
        <th>
            @Resources.Views.AppRole.AppRoles.ConcurrencyStamp
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalizedName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Views.Crud.CRUD.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Crud.CRUD.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Views.Crud.CRUD.Delete</a> |
                <a asp-action="AddRole" asp-route-id="@item.Id" >@Resources.Views.Crud.CRUD.ChangeUserRoles</a>
            </td>
        </tr>
}
    </tbody>
</table>
