@model IEnumerable<BLL.App.DTO.Picture>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">@Resources.Views.Crud.CRUD.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>

                <img src="@Html.Raw( item.Url)" alt="image" width="200" height="150">
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>

                <a asp-action="Edit"  asp-route-id="@item.Id">@Resources.Views.Crud.CRUD.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Crud.CRUD.Details</a> |
                <a asp-action="Delete" id="deleteButton" class="fa fa-trash" asp-route-id="@item.Id"></a>
            </td>
        </tr>
}
    </tbody>
</table>
