@model IEnumerable<BLL.App.DTO.ProductMaterial>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">@Resources.Views.Crud.CRUD.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td style="float: right">
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Views.Crud.CRUD.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Crud.CRUD.Details</a> |
                <form style="float: right" asp-action="DeleteConfirmed" asp-route-id="@item.Id"
                      onclick="return confirm('@Resources.Views.Crud.CRUD.DeleteConfirm')">

                    <button id="deleteButton" type="submit">
                        <a  class="fa fa-trash" ></a>
                    </button>
                </form>
                </td>
        </tr>
}
    </tbody>
</table>
