@model IEnumerable<BLL.App.DTO.Product>


@{
    ViewData["Title"] = "Index";
}

@if (User.Identity!.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Reserve</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Location
            </th>
            <th>
                Pictures
            </th>
            <th>
                is Booked?
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
            @if (item.CityName != null)
            {
                item.CountyName += ", " + item.CityName;
            }
            @if (item.LocationDescription != null)
            {
                item.CountyName += ", " + item.LocationDescription;
            }

                @Html.DisplayFor(modelItem => item.CountyName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Pictures)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBooked)
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
