@model IEnumerable<BLL.App.DTO.Product>


@{
    ViewData["Title"] = "Index";
}

@if (User.Identity!.IsAuthenticated)
{
    <p>
        <a asp-action="Create">@Resources.BLL.App.DTO.Bookings.Reserve</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pictures)
            </th>
            <th>
                  @Html.DisplayNameFor(model => model.IsBooked)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.DateAdded)
            </th>


        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
            @if (item.City != null)
            {
                item.County += ", " + item.City;
            }
            @if (item.LocationDescription != null)
            {
                item.County += ", " + item.LocationDescription;
            }

                @Html.DisplayFor(modelItem => item.County)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Pictures)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBooked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>


            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Crud.CRUD.Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
