@model IEnumerable<DTO.App.BookingDTO>


@{
    ViewData["Title"] = "Index";
}

@if (User.Identity!.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Reserve</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product!.Description)
            </th>

            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.Product!.County) *@
            @* </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Product!.City)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.Product!.Color) *@
            @* </th> *@
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.Product!.Condition) *@
            @* </th> *@

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Product!.Description)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Product!.County!.Name) *@
            @* </td> *@
            @* *@
            <td>
                @Html.DisplayFor(modelItem => item.Product!.City)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Product!.Color) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Product!.Condition!.Description) *@
            @* </td> *@
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Remove Product</a>
            </td>
        </tr>
}
    </tbody>
</table>
