@model IEnumerable<BLL.App.DTO.Category>

@{
    ViewData["Title"] = "Index";
}

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">@Resources.Views.Crud.CRUD.Create</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Views.Crud.CRUD.Edit</a>
                <text> | </text>
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Crud.CRUD.Details</a>
            }
            else
            {
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Crud.CRUD.Details</a>
            }
            </td>
        </tr>
}
    </tbody>
</table>
