@model BLL.App.DTO.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
   <dl class="row">

       <dt class = "col-sm-2">
           @Html.DisplayNameFor(model => model.Description)
       </dt>
       <dd class = "col-sm-10">
           @Html.DisplayFor(model => model.Description)
       </dd>
       <dt class = "col-sm-2">
           County
       </dt>
       <dd class = "col-sm-10">
           @Html.DisplayFor(model => model.CountyName)
       </dd>
        <dt class = "col-sm-2">
          City
      </dt>
      <dd class = "col-sm-10">
          @Html.DisplayFor(model => model.CityName)
      </dd>
       <dt class="col-sm-2">
           Location description
       </dt>
      <dd class = "col-sm-10">
          @Html.DisplayFor(model => model.LocationDescription)
      </dd>
       <dt class = "col-sm-2">
           @Html.DisplayNameFor(model => model.Color)
       </dt>

       <dd class = "col-sm-10">
           @Html.DisplayFor(model => model.Color)
       </dd>

   </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
