@model IEnumerable<BLL.App.DTO.Product>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-centre">


    <h2>@Resources.BLL.App.DTO.Products.ReasentlyAddedProducts</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                 @Resources.BLL.App.DTO.Products.Location
            </th>
            <th>
               @Resources.BLL.App.DTO.Pictures.Picture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBooked)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            @{
                var count = 0;
            }
            @if (count < 10)
            {
                count++;

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.City != null)
                    {
                        item.County += ", " + item.City;
                    }
                    @if (item.LocationDescription != null)
                    {
                        item.County += ", " + item.LocationDescription;
                    }

                    @Html.DisplayFor(modelItem => item.County)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Pictures)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBooked)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Crud.CRUD.Details</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
</div>
