@model BLL.App.DTO.Product

@{
    ViewData["Title"] = "Details";
}

<h1>@Resources.Views.Crud.CRUD.Details</h1>

<div>
    <h4>@Resources.BLL.App.DTO.Products.Product</h4>
    <hr />
    <partial name="_Details" model="Model"/>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Resources.Views.Crud.CRUD.Edit</a> |
    <a asp-action="Index">@Resources.Views.Crud.CRUD.Index</a>
</div>
