
<h5 class="mt-2 mb-2">@Resources.App.Views.Shared.PasswordRequirementsTooltip.PasswordRequirements</h5>
<ul class="text-justify list-unstyled">

    @if (Model.RequiredLength > 0)
    {
        if (Model.RequiredLength == 1)
        {
            <li class="mb-2">@string.Format(Resources.App.Views.Shared.PasswordRequirementsTooltip.PasswordLengthSingle, Model.RequiredLength)</li>
        } else
        {
            <li class="mb-2">@string.Format(Resources.App.Views.Shared.PasswordRequirementsTooltip.PasswordLength, Model.RequiredLength)</li>
        }
    }
    @if (Model.RequireDigit)
    {
        <li class="mb-2">@Resources.App.Views.Shared.PasswordRequirementsTooltip.PasswordRequireDigit</li>
    }
    @if (Model.RequireLowercase)
    {
        <li class="mb-2">@Resources.App.Views.Shared.PasswordRequirementsTooltip.PasswordRequireLowercase</li>
    }
    @if (Model.RequireUppercase)
    {
        <li class="mb-2">@Resources.App.Views.Shared.PasswordRequirementsTooltip.PasswordRequireUppercase</li>
    }
    @if (Model.RequireNonAlphanumeric)
    {
        <li class="mb-2">@Resources.App.Views.Shared.PasswordRequirementsTooltip.PasswordRequireNonAlphanumeric</li>
    }
    @if (Model.RequiredUniqueChars > 0)
    {
        if (Model.RequiredUniqueChars == 1)
        {
            <li class="mb-2">@string.Format(Resources.App.Views.Shared.PasswordRequirementsTooltip.PasswordRequireUniqueCharsSingle, Model.RequiredUniqueChars)</li>
        }
        else
        {
            <li class="mb-2">@string.Format(Resources.App.Views.Shared.PasswordRequirementsTooltip.PasswordRequireUniqueChars, Model.RequiredUniqueChars)</li>
        }
    }
</ul>