@model IEnumerable<BLL.App.DTO.UserBookedProducts>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeBooked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Until)
            </th>

            <th>
                 @Resources.BLL.App.DTO.UserBookedProduct.ProductOwner

            </th>


        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeBooked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Until)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Crud.CRUD.Details</a> |
                <a asp-action="Delete" id="deleteButton" class="fa fa-trash" asp-route-id="@item.Id"></a>
            </td>
        </tr>
}
    </tbody>
</table>
